#Konfiguration für den Dragonburner Toolhead

[extruder1]
step_pin: ebb36:PD0 #PE2
dir_pin:  ebb36:PD1 #PE3
enable_pin:  ebb36:PD2 #!PD4
rotation_distance: 4.68337 #Orbiter:4.68337 #4.637 #21.68356   #Bondtech 5mm Drive Gears #evtl 7,5 von vorher????
microsteps: 16
full_steps_per_rotation: 200    #200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
max_extrude_only_distance: 500
max_extrude_only_velocity: 120
heater_pin:  ebb36:PB13
## Check what thermistor type you have. See https://www.klipper3d.org/Config_Reference.html#common-thermistors for common thermistor types.
## Use "Generic 3950" for NTC 100k 3950 thermistors
sensor_type: Generic 3950   #für BambuHotend               # Für V6 Vulcano: EPCOS 100K B57560G104F
sensor_pin:  ebb36:PA3 #PF4
min_temp: 10  #10
max_temp: 280
max_power: 0.5 #0.75
min_extrude_temp: 170
max_extrude_cross_section: 6
control : pid
pid_kp : 21.773 #31.397 #27.339 #Für V6 Vulcano: 20.695
pid_ki : 10.368 #6.977 #Für V6 Vulcano: 1.314
pid_kd : 11.431 #35.321 #Für V6 Vulcano: 81.48
#pid_Kp=21.833 pid_Ki=6.616 pid_Kd=18.013

##  Try to keep pressure_advance below 1.0
pressure_advance: 0.025
##  Default is 0.040, leave stock
pressure_advance_smooth_time: 0.030


[fan_generic part_cooling_t1] #Part Cooling
pin:  ebb36:PA1 #PE5 #sb2040:gpio14 #Solassen
max_power: 0.9

[heater_fan Hotend_Lüfter_Dragonburner]
pin:  ebb36:PA0
max_power: 1
kick_start_time: 0.5
heater: extruder1
heater_temp: 45
fan_speed: 1
off_below: 0